<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
	<header th:replace="index/header-login.html"></header>
	<div class="col-lg-12">
		<h1>Assign Drivers to Today's Deliveries</h1>
		<div style="line-height:1;">&nbsp;</div>
		<p class="text-right"><a class="btn-sm btn-secondary" href="/deliveries/createsequence" role="button">Create sequence</a></p>
		<div class="row">
			<div class="col" th:each="t : ${timings}">
				<h3 th:text="${t}"></h3>
				<table class="table">
					<tr>
						<th>Restaurant</th>
						<th>Area</th>
						<th>Driver</th>
					</tr>
					<tr th:each="d : ${todaysDeliveries}">
						<td th:if="${d.getTiming()} == ${t}"
							th:text="${d.getRestaurant().getName()}"></td>
						<td th:if="${d.getTiming()} == ${t}"
							th:text="${d.getRestaurant().getArea().getName()}"></td>
						<td th:if="${d.getTiming()} == ${t}" style="width: 135px">
							<form action="#" th:action="@{/assigndrivers}" method="POST" th:object="${delivery}" required>
							<input type="hidden" id="txtId" th:name="Id" th:value="${d.id}">
							<select id="txtEmployee" th:name="Employee" class="form-control" onchange="this.form.submit()">
								<option value=""></option>
								<option th:each="s : ${todaysSchedules}" th:value="${s.id}"
									th:text="${s.getEmployee().getFirstName()}+' - '+${#dates.format(s.getStartingTime(),'hh:mm a')}"
									th:selected= "${s} == ${d.getDriverSchedule()}"></option>
							</select>
							<input type="hidden" name="_method" value="put" />
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
						 
	<footer th:insert="index/footer.html"></footer>
</body>
</html>