<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet"
		href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin="" />
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin=""></script>
</head>
<body>
	<header th:replace="index/header-login.html"></header>
	<div class="col-lg-12">
		<h1>Sequence Details</h1>
		<div style="line-height:1;">&nbsp;</div>
		<h3 th:text="'Driver: '+ ${sequence.getEmployee().getFirstName()}"></h3>
		<h4	th:text="'Date: '+ ${#dates.format(sequence.getDeliveries().get(0).getDeliveryDate(),'yyyy-MM-dd')}"></h4>
		<div style="line-height:1;">&nbsp;</div>
		<div th:each="delivery : ${sequence.getDeliveries()}">
			<h5 th:text="${sequence.getDeliveries().indexOf(delivery)+1}+' - '+${delivery.getRestaurant().getName()}"></h5>
		</div>
		<div id="mapid" style="width: 750px; height: 500px; position: relative; outline: none;"></div>
		<script type="text/javascript">
		var sequence_id = [[${sequence.getId()}]];
		</script>
		<script src="/script/map.js"></script>
	</div>
	<div style="line-height:2;">&nbsp;</div>
		
		
						 
	<footer th:insert="index/footer.html"></footer>
</body>
</html>