<header class="header-area gray-bg clearfix">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/index.css">
	
	
	<title>Delivery Dispatch</title>
	<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>

	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-6">
					<div class="logo">
						<a href="/"> <img alt="Site logo" th:src="@{/img/logo.png}"></a>
					</div>
				</div>
				<div class="col-lg-9 col-md-8 col-6">
					<div class="header-bottom-right">
						<div class="main-menu">
							<nav>
								<ul>
									<li class="top-hover"><a href="#">Database</a>
										<ul class="submenu">
											<li><a href="/restaurants">Restaurants</a></li>
											<li><a href="/areas">Areas</a></li>
											<li><a href="/cities">Cities</a></li>
											<li><a href="/employees">Employees</a></li>
											<li><a href="/roles">Roles</a></li>
										</ul>
									</li>
									<li class="top-hover"><a href="#">Deliveries</a>
										<ul class="submenu">
											<li><a href="/deliveries/add">Add delivery</a></li>
											<li><a href="/deliveries">Deliveries</a></li>
											<li><a href="/schedules">Driver Schedule</a></li>
											<li><a href="/assigndrivers">Assign Drivers</a></li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="mobile-menu-area">
				<div class="mobile-menu">
					<nav id="mobile-menu-active">
						<ul class="menu-overflow">
							<li class="top-hover"><a href="#">Database</a>
								<ul class="submenu">
									<li><a href="/restaurants">Restaurants</a></li>
									<li><a href="/areas">Areas</a></li>
									<li><a href="cities">Cities</a></li>
									<li><a href="/employees">Employees</a></li>
									<li><a href="/roles">Roles</a></li>
								</ul>
							</li>
							<li class="top-hover"><a href="#">Deliveries</a>
								<ul class="submenu">
									<li><a href="/deliveries/add">Add delivery</a></li>
									<li><a href="/deliveries">Deliveries</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div style="line-height:1.5;">&nbsp;</div>
	</div>

</header>