<!doctype html>
<html lang="en">
<head>
	
</head>
<body>
	<header th:replace="index/header.html"></header>
	
	<div class="login-register-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                        	<div class="login-register-tab-list nav">
                            	<h2> Login </h2>
                            </div>
                            <div class="tab-content">
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form th:action="@{/}" method="post">
                                                <input type="text" name="username" placeholder="Username"><br>
                                                <input type="password" name="password" placeholder="Password">
                                                <div class="button-box">
                                                    <button type="submit"><span>Login</span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	<footer th:insert="index/footer.html"></footer>
</body>
</html>